:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --thumbnail-size: 50px;
  --border-size: 4px;
  --imgBtn-size: 60px;
  --font-size: 18px;
  --base-space: 8px;

  /*animation*/
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.btn .imgBtn {
  height: var(--imgBtn-size);
  width: var(--imgBtn-size);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--border-size);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  height: 60%;
  width: 60%;
  list-style: none;
  padding-left: 0px;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
